#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

form {
  background-color: rgb(143, 143, 92);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border: 5px thick black;
}

h2 {
  background-color: rgb(229, 218, 187);
  border-radius: 10px;
  border: 2px thick black
}

body {
  background-color: rgb(188, 121, 121);
}

.error {
  color: red
}